body {
  background-color: var(--bg-color);
  margin-left: 100px;
  margin-right:100px;
  font-family: 'Raleway';
}
#camille {
  width: 350px;
  height: 350px;
  float:right;
  margin-right: 100px;
  margin-left: 10px;
  position:relative;
  top: 60px;
}

.textwrap {
    float:left;
    margin:30px;
}
h2 {
    font-family: 'moontime';
    color: var(--heading-color);
    font-size: 10em;
    font-weight: lighter;
    margin: 5vh 0 2vh 5vh;
}
h4 {
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 1em;
    margin-top:10px;
}
#about p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: auto auto auto 5vh;
}
/* Contact Section*/
.center {
  display: column;
  width: 100%;
  height: 80vh;
}

#social-test {
  display: column;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  h2 {
    color: #fff;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 100;
  }
  li {
    color: rgba(167, 146, 129, 0.6);
    list-style-type: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 1%;
    border: 1px solid #424242;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: ease .3s;
    &:hover {
      color: rgba(167, 146, 129, 1);
      border: 1px solid rgba(167, 146, 129, 1);
    }
  }
}
.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
  }
}
