/* --- Sections --- */
.section {
  width: 100%;
  margin: auto;
  border-bottom: 2px;
}
.section_centerText {
flex-direction: column;
padding: 20px;

}
.section_container, footer {
width: 100%;
height: 100%;
display: flex;
float: left;
}
/*Welcome*/
.welcome {
  box-shadow: 0 0 15px gray;
}
[data-theme="dark"] .welcome {
  background-color: white;
}

[data-theme="light"] .welcome {

}
/*Big Three*/
.section_tripleColumn {
    display: flex;
    max-height: 100%;
}
  .bigthree {
    display: block;
    align-content: left;
    flex-direction: row;
}
    .home, .community, .esg {
      width: 33%;
      height: 500px;
      display: grid;
    }
    .home {
      background-image: url("https://i.ibb.co/37gjLTL/powerofgreen.png");
      float: left;
    }
    .community {
      background-image: url("https://i.ibb.co/q7xHvZZ/gitnb.png");
      float: left;
    }
    .esg {
      background-image: url("https://i.ibb.co/gmsjCmP/bethechange.png");
      float: left;
}
[data-theme="dark"] .welcome > h1, .sustainability > h1, p, .intersectional > h1, p {
  color: #424242;
}
/* Sustainability & IE Section */
.section_doubleColumn {
    width: 50%;
    min-height: 100%;
}
.sustainability, .intersectional {
  background-color: #dc9750;
  color: #424242;
  font-size: 20pt;
  text-align: center;
  align-items: center;
}
.intersectional {
  border-left: 1px
}

.intersectional img, .sustainability img {
  width: 150px;
  height: 150px;
}

p {
  color: var(--font-color);
  font-family:'Raleway', sans-serif;
  font-size: 14pt;
  line-height: 1.5rem;
  text-align: center;
}

b {
  color: var(--font-color);
  font-weight: 700;

}
/* About Section */

.about {
  background-color: white;
}

/* Footer */
 .footer {
   box-shadow:
 }
