body {
  background-color: var(--bg-color);
  margin-left: 100px;
  margin-right:100px;
  font-family: 'Raleway';
}
#camille {
  width: 350px;
  height: 350px;
  float:right;
  margin-right: 100px;
  margin-left: 10px;
  position:relative;
  top: 60px;
}

.textwrap {
    float:left;
    margin:30px;
}
h2 {
    font-family: 'moontime';
    color: var(--heading-color);
    font-size: 10em;
    font-weight: lighter;
    margin: 5vh 0 2vh 5vh;
}
h4 {
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 1em;
    margin-top:10px;
}
#about p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: auto auto auto 5vh;
}
